annotated-types==0.7.0
azure-core==1.32.0
azure-identity==1.19.0
azure-keyvault-secrets==4.9.0
distro==1.9.0
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
isodate==0.7.2
jiter==0.8.2
msal==1.31.1
msal-extensions==1.2.0
openai==1.63.2
portalocker==2.10.1
proto-plus==1.25.0
protobuf==3.20.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.0
rsa==4.9
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
webencodings==0.5.1
streamlit==1.32.0
snowflake-snowpark-python
tabulate
